{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}
{% load mathfilters %}

<!-- Begin page -->
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header justify-content-between d-flex align-items-center">
						<h4 class="card-title">정산 관리</h4>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<script>
let is_run = false;

</script>
{% endblock %}
