ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.regist-body {
	height: 400px;
	overflow: hidden;
    overflow-y: auto;
}

.sales-all {
	border-top: 13px solid #ef6866;
	border-left: 1px solid #ef6866;
	border-right: 1px solid #ef6866;
	border-bottom: 1px solid #ef6866;
}
.pay-done {
    border-top: 13px solid #51d28c;
    border-left: 1px solid #51D28C;
    border-right: 1px solid #51d28c;
    border-bottom: 1px solid #51d28c;
}
.pay-refund {
    border-top: 13px solid #ffc13f;
    border-left: 1px solid #ffc13f;
    border-right: 1px solid #ffc13f;
    border-bottom: 1px solid #ffc13f;
}
.pay-calculate {
	border-top: 13px solid #0d6efd;
    border-left: 1px solid #0d6efd;
    border-right: 1px solid #0d6efd;
    border-bottom: 1px solid #0d6efd;
}
