{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}
{% load mathfilters %}

<link href="{% static 'libs/quill/dist/quill.snow.css' %}" rel="stylesheet" type="text/css" />

<div class="page-content">
	<div class="container-fluid">
		<form name="productWriteForm">
			<div class="row">
				<div class="page-title-box d-flex align-items-center justify-content-between">
					<h4 class="mb-0">상품등록</h4>
					<div class="ms-auto">
						<a href="{% url 'product:list' %}" class="btn btn-primary">Back to page</a>
					</div>
				</div>

				<p>대분류 > 중분류 > 소분류 순으로 선택하세요.</p>
				<div class="col-md-4">
					<div class="card text-bg-light">
						<div class="card-header">대분류</div>
						<div class="card-body text-start regist-body">
							<ul>
								<li><p class="card-text">홈케어</p></li>
							</ul>	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-bg-light">
						<div class="card-header">중분류</div>
						<div class="card-body text-start regist-body">
							<ul>
								<li><p class="card-text">청소</p></li>
								<li><p class="card-text">소독</p></li>
								<li><p class="card-text">수리</p></li>
								<li><p class="card-text">이사</p></li>
								<li><p class="card-text">가전 케어</p></li>
								<li><p class="card-text">차 서비스</p></li>
								<li><p class="card-text">생수 배달</p></li>
							</ul>	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-bg-light">
						<div class="card-header">소분류</div>
						<div class="card-body text-start regist-body">
							<ul>
								<li><p class="card-text">가정 청소</p></li>
								<li><p class="card-text">입주 청소</p></li>
							</ul>	
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card" style="padding: 20px 10px;">
						<div class="card-header justify-content-between d-flex align-items-center">
							<h4 class="card-title">서비스 기본정보</h4>
						</div><!-- end card header -->
						<div class="card-body">

							<div class="mb-3">
								<label for="example-text-input" class="form-label">서비스 명</label>
								<input class="form-control" type="text" placeholder="서비스 명을 입력하세요." name="product_name">								
							</div><!-- end row -->

							<div class="mb-3">
								<div class="row">
									<div class="col-md-6">
										<label class="form-label">지역</label>
										<select class="form-select" name="area">
											<option value="">Select</option>
											<option>Large select</option>
											<option>Small select</option>
										</select>
									</div>
									<div class="col-md-6">
										<label for="price-search-input" class="form-label">서비스 가격</label>
										<input class="form-control" type="text" placeholder="가격을 입력하세요." maxlength="11" name="price" id="price-search-input">
									</div>
								</div>	
							</div>

							
							<!--Listing Images-->
							<div class="mb-4" data-dropzone-area="">
								<label class="form-label">썸네일</label>
								<div class="thumbnail-preview row" id="thumbnail-preview" >
								</div>
								<div class="chat-form rounded-pill" data-emoji-form="">
									<input type="file" class="d-none" id="thumbnail-upload">
									<label for="thumbnail-upload">
										<span class="btn btn-primary">업로드</span>
									</label>
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label">서비스 상세정보</label>
								<input type="hidden" name="content">
								<div id="snow-editor" style="height: 300px;"></div>
							</div>

							<div class="text-end">
								<a href="#!" class="btn btn-success" onClick='product_write_submit();'>등록</a>
								<a href="{% url 'product:list' %}" class="btn btn-secondary">취소</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{{categories}}

<script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'libs/quill/dist/quill.min.js' %}"></script>
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

<script>
let is_run = false
const dataTransfer = new DataTransfer();
const handler = {
	init() {
		const fileInput = document.querySelector('#thumbnail-upload');
		const preview = document.querySelector('.thumbnail-preview');
		
		fileInput.addEventListener('change', () => {
			
			const files = Array.from(fileInput.files);
			files.forEach((file) => {
				var reader = new FileReader();
				reader.onload = function(e) {			
					html = '<div class="position-relative col-3">';
					html += `<button type='button' onclick='thumbnail_remove(this);' data-index='${file.lastModified}' class='btn btn-primary position-absolute top-0 end-0' id='thumbnail-remove-btn'><i class='bx bx-x fs-5 lh-1'></i></button>`;
					html += `<img src="${e.target.result}" class="img-thumbnail">`;
					html += '</div>'
					preview.innerHTML +=  html;
				}
				reader.readAsDataURL(file);
				dataTransfer.items.add(file);
			});

			fileInput.files = dataTransfer.files;
			console.log(document.querySelector('#thumbnail-upload').files)
		});
	},
}

handler.init();


function thumbnail_remove(e) {
	dataTransfer.clearData();
	const lastModified = e.dataset.index;
	const input = document.querySelector('#thumbnail-upload');
	const { files } = input;

	
	for (let i = 0; i < files.length; i++) {
		const file = files[i]
		if (lastModified != file.lastModified) {

			dataTransfer.items.add(file) // here you exclude the file. thus removing it.
		}
	}
	
	input.files = dataTransfer.files // Assign the updates list
	e.parentElement.remove();

}



// function remove_preview_img(e) {
// 	const dt = new DataTransfer();
// 	const input = document.querySelector('#thumbnail-upload');

// 	for (let i = 0; i < input.files.length; i++) {
// 		console.log(i);
// 		const file = input.files[i];
// 		if (e.dataset.id !== i) {
// 			e.parentElement.remove();
// 		} else {
// 			dt.items.add(file);
// 		}
		
// 	}
	
// 	input.files = dt.files; // Assign the updates list
// }




var quill = new Quill('#snow-editor', {
	modules: {
		toolbar: [
			[{ 'size': ['small', false, 'large', 'huge'] }],
			['bold', 'italic', 'underline', 'strike'],
			['blockquote', 'code-block'],
			[{ 'color': [] }, { 'background': [] }],
			[{ 'list': 'ordered'}, { 'list': 'bullet' }],
			['link', 'image'],
			['clean'],
		]
	},
	theme: 'snow'
});

quill.getModule('toolbar').addHandler('image', function() {
	upload_content_image();
});


function upload_content_image() {
    const input = document.createElement('input');
    input.setAttribute('type', 'file');
	input.setAttribute('accept', "image/jpeg, image/png, image/gif");
    input.click();

    input.onchange = upload_submit;
	
	async function upload_submit() {
		if(is_run == true) {
			openModal('알림','잠시후에 다시시도 해주세요.');
			return false;
		}

		is_run = true;

		const fd = new FormData();
		const file = this.files[0];
		fd.append('image', file);

		const response = fetch("{% url 'product:upload_image' %}", {
			method: "POST",
			headers: {
				"X-CSRFToken": getCookie("csrftoken"),
			},
			body: fd,
		})
		.then(response => response.json())
		.then(data => {
			console.log(data);
			is_run  = false;
			if (data.result == '200') {
				const range = quill.getSelection();
				quill.insertEmbed(range.index, 'image', data.result_text);
			} else {
				openModal("알림", data.result_text);
			}
		});
    };
}



async function product_write_submit() {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

    is_run = true;

	document.querySelector('input[name=content]').value = quill.root.innerHTML;
	let form_data = new FormData(document.querySelector('form[name=productWriteForm]'));

    const response = await fetch("{{request.path}}", {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
        body: JSON.stringify(
            Object.fromEntries(form_data)
        ),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        is_run  = false;
        if (data.result == '200') {
            openModal("good", data.result_text, '', 'reload');
        } else {
            openModal("good", data.result_text, '');
        }
    });
}

"propertychange change keyup paste input".split(" ").forEach(function(e){
	document.querySelector("input[name=price]").addEventListener(e, function(){
		this.value = this.value.replace(/(^0+)/, '');
		this.value = this.value.replace(/[^0-9]/g,'').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	});
});

</script>
{% endblock %}